/* Assets:

+Fonts
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;

+Colors
Topnav-gray: #202020
Sidenav-gray: #212121
Searchbutton-gray: #313131
Searchbutton-magnifierglas-gray: #6f6f6f
Chanel_info-gray: #181818
Font-gray: #aaaaaa
Button-red: #bb271a
*/

:root {
  --topnav-gray: #202020;
  --sidenav-gray: #212121;
  --searchbutton-gray: #313131;
  --searchbutton-magnifierglas-gray: #6f6f6f;
  --chanel_info-gray: #181818;
  --font-gray: #aaaaaa;
  --button-red: #bb271a;
}

html {
  background-color: var(--sidenav-gray);
  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.topnav {
    display: flex;
  width: 100%;
  background-color: var(--topnav-gray)
  line-height: 50px;
  border: red solid 1px
}

.sidenav{
    display: flex;
    flex-wrap: wrap;
    max-width: 25%;
    border: red solid 1px
}

.sidenav .h2 {
    color: var(--font-gray);
}